<employee-count
  *ngIf="employees"
  [all]="getTotalEmployeesCount()"
  [male]="getTotalMaleEmployeesCount()"
  [female]="getTotalFemaleEmployeesCount()"
  (countRadioButtonSelectionChanged)="onEmployeeCountRadioButtonChange($event)"
>
</employee-count>
<br />
<br />
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Staff ID</th>
      <th>First Name</th>
      <th>Gender</th>
      <th>Annual Salary</th>
      <th>Date of Birth</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let employee of employees">
      <tr
        *ngIf="
          selectedEmployeeCountRadioButton == 'All' ||
          selectedEmployeeCountRadioButton == employee.gender
        "
      >
        <td>{{ employee.staffId }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.gender }}</td>
        <td>{{ employee.annualSalary | currency: "USD":true:"1.2-2" }}</td>
        <td>{{ employee.dateOfBirth | date: "dd/MM/yyyy" | uppercase }}</td>
      </tr>
    </ng-container>
    <tr *ngIf="!employees">
      <td colspan="5">
        Loading Employee Data. Please Wait...
      </td>
    </tr>
    <tr *ngIf="employees && employees.length == 0">
      <td colspan="5">
        No Employees to Display
      </td>
    </tr>
  </tbody>
</table>
