<form class="stu-form" #studentForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input
        class="form-control"
        name="FirstName"
        #FirstName="ngModel"
        placeholder="First Name"
        [(ngModel)]="studentService.selectedStudent.FirstName"
      />
    </div>
    <div class="form-group col-md-6">
      <input
        class="form-control"
        name="LastName"
        #LastName="ngModel"
        placeholder="Last Name"
        [(ngModel)]="studentService.selectedStudent.LastName"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input
        class="form-control"
        name="StudentId"
        #LastName="ngModel"
        placeholder="Student Id"
        [(ngModel)]="studentService.selectedStudent.StudentId"
      />
    </div>
    <div class="form-group col-md-6">
      <input
        class="form-control"
        name="GradeLevel"
        #LastName="ngModel"
        placeholder="Grade Level"
        [(ngModel)]="studentService.selectedStudent.GradeLevel"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <button type="submit" class="btn btn-lg btn-block btn-info">
        <i class="fa fa-save"></i> Submit
      </button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-secondary btn-lg btn-block">
        <i class="fa fa-repeat"></i>
        Reset
      </button>
    </div>
  </div>
</form>
