<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Rehman Academy</p>
  </div>

  <p>Account Overview</p>

  <mat-tab-group>
    <mat-tab label="Classes">
      <p>
        This is where the class list is going to be
      </p>
    </mat-tab>
    <mat-tab label="Attendance">
      <p>
        this is where the attendance tab will be
      </p>
    </mat-tab>
    <mat-tab label="Student Results">
      <p>
        this is where the student result summaries will go
      </p>
    </mat-tab>
    <mat-tab label="Teacher Resources">
      <p>
        this is where the course Syllabus documents presentations and more will
        go
      </p>
    </mat-tab>
  </mat-tab-group>
</section>
